<!DOCTYPE>
<html>
<head>
	<title> iReporter </title>
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>

		<div id="content">
			
		<header>
			<div>
				<ul>
					<span id="he_ader">
					<li id="hea_der"><a href="../index.html"> iReporter </a></li>
					</span>
					<span id="head_er">
					<li title="Home"> <a  id="header_link" href="../index.html"> Home </a>  </li>
					<li title="About"> <a  id="header_link" href="about.html"> About </a>  </li>
		            <li title="Contact"> <a id="header_link" href="contact.html"> Contact </a>  </li>
		            <li title="Signin"> <a id="header_link" href="signin.html"> Signin </a>  </li>  
		            <li title="Signup"> <a  id="header_link" href="signup.html"> Signup </a>  </li>   
		            <li title="Profile"> <a  id="header_link" href="profile.html"> Profile </a>  </li>   
		            </span>   
	        	</ul>
        	</div>
		</header>

		<section>
			<div id="writing">
				<p> Corruption is a huge bane to Africa’s development. African countries must develop novel and
				localised solutions that will curb this menace, hence the birth of iReporter. iReporter enables
				any/every citizen to bring any form of corruption to the notice of appropriate authorities and the
				general public. Users can also report on things that needs government intervention. </p>
			</div>
		</section>

		<footer>
			<div id="footer">
				<a href="http://www.andela.com"> &copy; Copyright Andela.com </a>
			</div>
		</footer>


		</div>

</body>
</html>