<!DOCTYPE>
<html>
<head>
	<title> iReporter </title>
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>

		<div id="content">
			
		<header>
			<div>
				<span id="he_ader">
					<a href="../index.html"> iReporter </a>
				</span>
				<ul>
					<span id="head_er">
					<li title="Home"> <a  id="header_link" href="index.html"> Home </a>  </li>
		            <li title="Signin"> <a id="header_link" href="./views/signin.html"> Signin </a>  </li>  
		            <li title="Signup"> <a  id="header_link" href="./views/signup.html"> Signup </a>  </li>   
		            <li title="Profile"> <a  id="header_plink" href="./views/profile.html"> Profile </a>  </li>   
		            </span>   
	        	</ul>
        	</div>
		</header>

		<section>
			<div id="records">
				<span><h1 id="heading1"> Records </h1> </span>
				<span id="create"> <a href="create-record.html"> <h2 id="heading2"> Create record </h2> </a> </span>
				<hr>

			</div>
			<div id="red_flag-snippet">
				<div id="red_flag">
					<span><a  id="red_flag_title" href="red_flag.html"> <h3 id="heading3"> The Halliburton scandal </h3> </a></span>
				</div>
				<div id="red_flag_date">
					<span id="red_flagdate">04 Dec, 2018</span>
				</div>
				<div id="snippet">
					<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p><br><br>
				</div>
				<div id="red_flag_btn">
					<span id="snip_button"> <h2 id="heading4"> red-flag </h2> </span>
					<span id="snip_button"> <h2 id="heading5"> In draft </h2> </span>
				</div>
				<div id="btn-admin">
						<input id="delete_button" type="submit" name="delete" value="Change type">
						<input id="delete_button" type="submit" name="delete" value="Change status">
				</div>
			</div><br><br>

			<div id="red_flag-snippet">
				<div id="red_flag">
					<span><a  id="red_flag_title" href="intervention.html"> <h3 id="heading3"> Government should look into the bad roads at Amuwo </h3> </a></span>
				</div>
				<div id="red_flag_date">
					<span id="red_flagdate">04 Dec, 2018</span>
				</div>
				<div id="snippet">
					<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p><br><br>
				</div>
				<div id="red_flag_btn">
					<span id="snip_button"> <h2 id="heading4"> intervention </h2> </span>
					<span id="snip_button"> <h2 id="heading5"> Under Investigation </h2> </span>
				</div>
				<div id="btn-admin">
						<input id="delete_button" type="submit" name="delete" value="Change type">
						<input id="delete_button" type="submit" name="delete" value="Change status">
				</div>
			</div><br><br>

			<div id="red_flag-snippet">
				<div id="red_flag">
					<span><a  id="red_flag_title" href="red_flag.html"> <h3 id="heading3"> Minister should be probed for siphoning of public funds </h3> </a></span>
				</div>
				<div id="red_flag_date">
					<span id="red_flagdate">05 Dec, 2018</span>
				</div>
				<div id="snippet">
					<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p><br><br>
				</div>
				<div id="red_flag_btn">
					<span id="snip_button"> <h2 id="heading4"> red-flag </h2> </span>
					<span id="snip_button"> <h2 id="heading5"> Under Investigation </h2> </span>
				</div>
				<div id="btn-admin">
						<input id="delete_button" type="submit" name="delete" value="Change type">
						<input id="delete_button" type="submit" name="delete" value="Change status">
				</div>
			</div><br><br>

			<div id="red_flag-snippet">
				<div id="red_flag">
					<span><a  id="red_flag_title" href="intervention.html"> <h3 id="heading3"> Fallen electric poles at Apapa </h3> </a></span>
				</div>
				<div id="red_flag_date">
					<span id="red_flagdate">05 Dec, 2018</span>
				</div>
				<div id="snippet">
					<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p><br><br>
				</div>
				<div id="red_flag_btn">
					<span id="snip_button"> <h2 id="heading4"> intervention </h2> </span>
					<span id="snip_button"> <h2 id="heading5"> resolved </h2> </span>
				</div>
				<div id="btn-admin">
						<input id="delete_button" type="submit" name="delete" value="Change type">
						<input id="delete_button" type="submit" name="delete" value="Change status">
				</div>
			</div><br><br>

			<div id="red_flag-snippet">
				<div id="red_flag">
					<span><a  id="red_flag_title" href="red_flag.html"> <h3 id="heading3"> Halliburton Scandal </h3> </a></span>
				</div>
				<div id="red_flag_date">
					<span id="red_flagdate">05 Dec, 2018</span>
				</div>
				<div id="snippet">
					<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p><br><br>
				</div>
				<div id="red_flag_btn">
					<span id="snip_button"> <h2 id="heading4"> red-flag </h2> </span>
					<span id="snip_button"> <h2 id="heading5"> In draft </h2> </span>
				</div>
				<div id="btn-admin">
						<input id="delete_button" type="submit" name="delete" value="Change type">
						<input id="delete_button" type="submit" name="delete" value="Change status">
				</div>
				
			</div>
		</section>

		<footer>
			<div id="footer">
				<a href="http://www.andela.com"> &copy; Copyright Andela.com </a>
			</div>
		</footer>


		</div>

</body>
</html>