<!DOCTYPE>
<html>
<head>
	<title> iReporter </title>
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>

		<div id="content">
			
		<header>
			<div>
				<span id="he_ader">
					<a href="../index.html"> iReporter </a>
					</span>
				<ul>
					<span id="head_er">
					<li title="Home"> <a  id="header_link" href="logged.html"> Home </a>  </li> 
		            <li title="Profile"> <a  id="header_link" href="profile.html"> Profile </a>  </li>   
		            <li title="Profile"> <a  id="header_plink" href="../index.html"> Logout </a>  </li> 
		            </span>   
	        	</ul>
        	</div>
		</header>

		<section>
			<div id="red_flag_create">
				<form action="" method="POST">
					
					<h2> Create record </h2>

					<label for="title">Title</label>
					<input id="red_flag_input" type="text" name="r_title" required>

					<label for="body"> Type in red-flag record here </label>
					<textarea id="text_area" name="r_body"></textarea required>

					<button id="text_button" type="submit">Submit</button>
				</form>

				<div id="pic_div">
								<div class="container">
									<input type="file" name="pic" id="browse" class="hidden" ng-disabled="disabled" type="file" title="Add image"/>
										<img src="../public/img/15.jpeg" class="img" class="img-responsive; pull-right" id="ShowImage" alt="Add image">
				    					<label for="browse" class="middle text">Add image</label>
								</div>
				    			
								<div id="container">
										<img src="../public/img/15.jpeg" class="img" class="img-responsive; pull-right" id="ShowImage" alt="Upload video">
				    					<label for="browse" class="middle text">Add Video</label>
								</div>
				    			
				    			<div id="container">
										<img src="../public/img/15.jpeg" class="img" class="img-responsive; pull-right" id="ShowImage" alt="Add Location">
				    					<label for="browse" class="middle text">Add Location</label>
								</div>
						</div><br><br>
			</div>
		</section>

		<footer>
			<div id="footer">
				<a href="http://www.andela.com"> &copy; Copyright Andela.com </a>
			</div>
		</footer>


		</div>

</body>
</html>