<!DOCTYPE>
<html>
<head>
	<title> iReporter </title>
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>

		<div id="content">
			
		<header>
			<div>
				<ul>
					<span id="he_ader">
					<li id="hea_der"><a href="../index.html"> iReporter </a></li>
					</span>
					<span id="head_er">
					<li title="Home"> <a  id="header_link" href="../index.html"> Home </a>  </li>
		            <li title="Logout"> <a id="header_link" href="../index.html"> Logout </a>  </li>     
		            </span>   
	        	</ul>
        	</div>
		</header>

		<section>
			<div id="red_flag_create">
				<h2> Your Profile </h2>
				<hr>
				<form action="" method="POST">
					<div id="picdiv"></div>
						<div id="pic_div">
								<div class="container">
									<input type="file" name="pic" id="browse" class="hidden" ng-disabled="disabled" type="file" title="Add image"/>
										<img src="../public/images/elle_fanning.jpg" class="profyl" class="img-responsive; pull-right" id="ShowImage" alt="Add image">
				    					<label for="browse" class="middle text">Add image</label>
								</div>
				    			
						</div>

						<div id="details">
							<ul>
								<li><span>Name:</span> <span>Elle Fanning</span></li>
								<li><span>Username:</span> <span>Beautyellen</span></li>
								<li><span>Email:</span> <span>Ellefanning@gmail.com</span></li>
								<li><span>RedFlag Records:</span> <span>8</span></li>
								<li><span>Intervention Records:</span> <span>5</span></li>
							</ul>
						</div>

						<div>
							<form>
								<table>
									<tr>
										<th></th>
										<th class="red">Red-Flag records</th>
										<th class="orange">Intervention records</th>
									</tr>
									<tr>
										<td class="blue">Records</td>
										<td class="blue">8</td>
										<td class="blue">5</td>
									</tr>
									<tr>
										<td class="green">resolved</td>
										<td class="green">3</td>
										<td class="green">2</td>
									</tr>
									<tr>
										<td class="yellow">In draft</td>
										<td class="yellow">1</td>
										<td class="yellow">1</td>
									</tr>
									<tr>
										<td class="violet">Under Investigation</td>
										<td class="violet">2</td>
										<td class="violet">1</td>
									</tr>
									<tr>
										<td class="red">Rejected</td>
										<td class="red">2</td>
										<td class="red">1</td>
									</tr>
								</table>
							</form>
						</div>
						<hr>
						<div id="profyl_record">
							<h3> Your Red-flag records </h3>
							<ul>
								<li><a href="red_flag.html">Halliburton Scandal</a></li>
								<li><a href="red_flag.html">Minister should be probed for siphoning of public funds</a></li>
								<li><a href="red_flag.html">Halliburton Scandal</a></li>
								<li><a href="red_flag.html">Minister should be probed for siphoning of public funds</a></li>
								<li><a href="red_flag.html">Halliburton Scandal</a></li>
							</ul>
						</div>
						<div id="profyl_record">
							<h3> Your Intervention records </h3>
							<ul>
								<li><a href="Intervention.html">Government should look into bad roads at Amuwo</a></li>
								<li><a href="Intervention.html">Fallen electric poles at Apapa</a></li>
								<li><a href="Intervention.html">Government should look into bad roads at Amuwo</a></li>
								<li><a href="Intervention.html">Fallen electric poles at Apapa</a></li>
								<li><a href="Intervention.html">Government should look into bad roads at Amuwo</a></li>
							</ul>
						</div>
				</form>
			</div>
		</section>

		<footer>
			<div id="footer">
				<a href="http://www.andela.com"> &copy; Copyright Andela.com </a>
			</div>
		</footer>


		</div>

</body>
</html>