<!DOCTYPE>
<html>
<head>
	<title> iReporter </title>
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>

		<div id="content">
			
		<header>
			<div>
				<span id="he_ader">
					<a href="../index.html"> iReporter </a>
					</span>
				<ul>
					<span id="head_er">
					<li title="Home"> <a  id="header_link" href="logged.html"> Home </a>  </li>  
		            <li title="Profile"> <a  id="header_plink" href="../index.html"> Logout </a>  </li>   
		            </span>   
	        	</ul>
        	</div>
		</header>

		<section>
			<div id="red_flag_create">
				<h2> Your Profile </h2>
				<hr>
				<form action="" method="POST">
						<div id="details">
							<ul>
								<li id="detail_each"><span id="detail_each-title">Name:</span> <span>Elle Fanning</span></li><br>
								<li id="detail_each"><span id="detail_each-title">Username:</span> <span>Beautyellen</span></li><br>
								<li id="detail_each"><span id="detail_each-title">Email:</span> <span>Ellefanning@gmail.com</span></li><br>
								<li id="detail_each"><span id="detail_each-title">RedFlag Records:</span> <span>8</span></li><br>
								<li id="detail_each"><span id="detail_each-title">Intervention Records:</span> <span>5</span></li>
							</ul>
						</div>

						<div>
							<form>
								<table>
									<tr>
										<th></th>
										<th>Red-Flag records</th>
										<th>Intervention records</th>
									</tr>
									<tr class="column">
										<td>resolved</td>
										<td>3</td>
										<td>2</td>
									</tr>
									<tr class="column">
										<td>In draft</td>
										<td>1</td>
										<td>1</td>
									</tr>
									<tr class="column">
										<td>Under Investigation</td>
										<td >2</td>
										<td>1</td>
									</tr>
									<tr class="column">
										<td>Rejected</td>
										<td>2</td>
										<td>1</td>
									</tr>
								</table>
							</form>
						</div>
						<hr>
						<div id="profyl_record">
							<h3> Your records </h3>
							<ul>
								<li><a href="red_flag.html">Halliburton Scandal</a></li>
								<li><a href="red_flag.html">Minister should be probed for siphoning of public funds</a></li>
								<li><a href="red_flag.html">Halliburton Scandal</a></li>
								<li><a href="red_flag.html">Minister should be probed for siphoning of public funds</a></li>
								<li><a href="red_flag.html">Halliburton Scandal</a></li>
								<li><a href="Intervention.html">Government should look into bad roads at Amuwo</a></li>
								<li><a href="Intervention.html">Fallen electric poles at Apapa</a></li>
								<li><a href="Intervention.html">Government should look into bad roads at Amuwo</a></li>
								<li><a href="Intervention.html">Fallen electric poles at Apapa</a></li>
								<li><a href="Intervention.html">Government should look into bad roads at Amuwo</a></li>
							</ul>
						</div>
				</form>
			</div>
		</section>

		<footer>
			<div id="footer">
				<a href="http://www.andela.com"> &copy; 2018 All Rights Reserved </a>
			</div>
		</footer>


		</div>

</body>
</html>