<!DOCTYPE>
<html>

<head>
	<title> iReporter </title>
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>

<body>

	<div id="content">

		<header>
			<div>
				<span id="he_ader">
					<a href="../index.html"> iReporter </a>
				</span>
				<ul>
					<span id="head_er">
						<li title="Home"> <a id="header_link" href="../index.html"> Home </a> </li>
						<li title="Signup"> <a id="header_plink" href="signup.html"> Signup </a> </li>
					</span>
				</ul>
			</div>
		</header>

		<section>
			<div id="signup">
				<form>
					<h2> SIGN IN </h2>
					<label id="label" for="title">Username</label><br>
					<input id="sign_input" type="text" name="s_title" placeholder="Kingsley"><br>
					<label id="label" for="title">Password</label><br>
					<input id="sign_input" type="password" name="s_title">
				</form>
					<a href="profile.html"><button id="text_btn" type="submit">Submit</button></a>
					<hr>
					<div id="fgt">
						<span>Not signed up?</span> <a href="signup.html">signup</a>
					</div>
				
			</div>
		</section>

		<footer>
			<div id="footer">
				<a href="http://www.andela.com"> &copy; 2018 All Rights Reserved </a>
			</div>
		</footer>


	</div>

</body>

</html>