<!DOCTYPE>
<html>
<head>
	<title> iReporter </title>
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>

		<div id="content">
			
		<header>
			<div>
				<span id="he_ader">
					<a href="../index.html"> iReporter </a>
					</span>
				<ul>
					<span id="head_er">
					<li title="Home"> <a  id="header_link" href="../index.html"> Home </a>  </li>
		            <li title="Signin"> <a id="header_link" href="signin.html"> Signin </a>  </li>   
		            <li title="Profile"> <a  id="header_plink" href="profile.html"> Profile </a>  </li>   
		            </span>   
	        	</ul>
        	</div>
		</header>

		<section>
			<div id="signup">
				<form action="signin.html" method="POST">
					<h2> SIGN UP </h2>

					<label for="title">Firstname</label>
					<input id="sign_input" type="text" name="s_title"  placeholder="Kingsley" required>

					<label for="title">Lastname</label>
					<input id="sign_input" type="text" name="s_title" placeholder="Obioha" required>

					<label for="title">Othernames</label>
					<input id="sign_input" type="text" name="s_title" placeholder="Kaka" required>

					<label for="title">Email</label>
					<input id="sign_input" type="text" name="s_title" placeholder="perfectman090@gmail.com" required>

					<label for="title">Phonenumber</label>
					<input id="sign_input" type="text" name="s_title" placeholder="+234123456789012" required>

					<label for="title">Username</label>
					<input id="sign_input" type="text" name="s_title" placeholder="perfect" required>

					<label for="title">Password</label>
					<input id="sign_input" type="password" name="s_title" required>

					<label for="title">Confirm Password</label>
					<input id="sign_input" type="password" name="s_title" required>


					<button id="text_button" type="submit">Submit</button>

					<hr>

  			    	<div id="fgt">
  			    		<span>Already signed up?</span> <a href="signin.html">signin</a>
  			    	</div>
				</form>
			</div>
		</section>

		<footer>
			<div id="footer">
				<a href="http://www.andela.com"> &copy; Copyright Andela.com </a>
			</div>
		</footer>


		</div>

</body>
</html>