<!DOCTYPE>
<html>
<head>
	<title> iReporter </title>
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>

		<div id="content">
			
		<header>
			<div>
				<span id="he_ader">
					<a href="../index.html"> iReporter </a>
					</span>
				<ul>
					<span id="head_er">
					<li title="Home"> <a  id="header_link" href="../index.html"> Home </a>  </li>
		            <li title="Signin"> <a id="header_plink" href="signin.html"> Signin </a>  </li>   
		            </span>   
	        	</ul>
        	</div>
		</header>

		<section>
			<div id="signup">
				<form action="profile.html">
					<h2 id="tytle"> SIGN UP </h2>

					<label id="label" for="title">Firstname</label><br>
					<input id="sign_input" type="text" name="s_title"  placeholder="Kingsley"><br>

					<label id="label" for="title">Lastname</label><br>
					<input id="sign_input" type="text" name="s_title" placeholder="Obioha"><br>

					<label id="label" for="title">Othernames</label><br>
					<input id="sign_input" type="text" name="s_title" placeholder="Kaka"><br>

					<label id="label" for="title">Email</label><br>
					<input id="sign_input" type="text" name="s_title" placeholder="perfectman090@gmail.com"><br>

					<label id="label" for="title">Phonenumber</label><br>
					<input id="sign_input" type="text" name="s_title" placeholder="+234123456789012"><br>

					<label id="label" for="title">Username</label><br>
					<input id="sign_input" type="text" name="s_title" placeholder="perfect"><br>

					<label id="label" for="title">Password</label><br>
					<input id="sign_input" type="password" name="s_title"><br>

					<label id="label" for="title">Confirm Password</label><br>
					<input id="sign_input" type="password" name="s_title">


					<button id="text_btn" type="submit">Submit</button>

					<hr>

  			    	<div id="fgt">
  			    		<span>Already signed up?</span> <a href="signin.html">signin</a>
  			    	</div>
				</form>
			</div>
		</section>

		<footer>
			<div id="footer">
				<a href="http://www.andela.com"> &copy; 2018 All Rights Reserved </a>
			</div>
		</footer>


		</div>

</body>
</html>