<!DOCTYPE>
<html>
<head>
	<title> iReporter </title>
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>

		<div id="content">
			
		<header>
			<div>
				<ul>
					<span id="he_ader">
					<li id="hea_der"><a href="../index.html"> iReporter </a></li>
					</span>
					<span id="head_er">
					<li title="Home"> <a  id="header_link" href="../index.html"> Home </a>  </li>
					<li title="About"> <a  id="header_link" href="about.html"> About </a>  </li>
		            <li title="Contact"> <a id="header_link" href="contact.html"> Contact </a>  </li>
		            <li title="Signup"> <a  id="header_link" href="signup.html"> Signup </a>  </li>   
		            <li title="Profile"> <a  id="header_link" href="profile.html"> Profile </a>  </li>   
		            </span>   
	        	</ul>
        	</div>
		</header>

		<section>
			<div id="signup">
				<form action="signin.html" method="POST">
					<h2> SIGN IN </h2>

					<label for="title">Username</label>
					<input id="sign_input" type="text" name="s_title"  placeholder="Kingsley" required>

					<label for="title">Password</label>
					<input id="sign_input" type="password" name="s_title" placeholder="Obioha" required>

					<button id="text_button" type="submit">Submit</button>

					<hr>

					<div id="fgt">
   						<span><a href="#">Forgot password?</a></span>
  			    	</div>

  			    	<hr>

  			    	<div id="fgt">
  			    		<span>Not signed up?</span>
  			    	</div>
  			    	<button id="sign_button" type="submit"> <a href="signup.html">SIGNUP</a></button>

				</form>
			</div>
		</section>

		<footer>
			<div id="footer">
				<a href="http://www.andela.com"> &copy; Copyright Andela.com </a>
			</div>
		</footer>


		</div>

</body>
</html>